.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2em;
}

h1 {
    text-align: center;
}

.cardContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    width: 400px;
}

.data-field,
.submit-data {
    display: flex;
    flex-direction: column;
    width: 70%;
}

.data-field
input {
    height: 1.5em;
    width: 100%;
}

.submit-data
button {
    width: 100%;
    height: 2.5em;
}