.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 1em;
}
.cardContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 500px;
    padding: 1em;
}

.data-field,
.submit-data {
    width: 90%;
}

.submit-data {
    height: 3em;
}