<div class="container" *ngIf='users?.length'>
    <div class="filter">
        <div class="title">{{title}}</div>
        <div class="search">
            <input type="text" [(ngModel)]="filterUsers">
            <button (click)="clearSearch()">clear</button>
        </div>
        <div class="output-text">
            <p><span>searching for...</span>   {{ filterUsers }}</p>
        </div>
    </div>
    <div class="card-container">
        <div class="card" *ngFor='let user of filteredUsers'>
            <div class="avatar">
                <img 
                    [src]="user.avatar"
                    [style.width.px]=""
                    [style.width.px]="" 
                    (click)="toggleDetails(user.id)">
            </div>
            <!-- <div [ngClass]="toggleDetails(user.id)"> -->
            <div class="details">
                <p>Name: {{ user.name }}</p>
                <p>Email: {{ user.email }}</p>
                <p><app-star [rating]="user.rating" (ratingClicked)="onRatingClick($event)"></app-star></p>
            </div>
        <!-- </div> -->
        </div>
    </div>
</div>