<div class="container" *ngIf='users?.length'>
    <!-- <button (click)="getRegisteredUsers()">get Registered users</button> -->
    <div class="filter">
        <div class="title">{{title}}</div>
        <div class="search">
            <input type="text" [(ngModel)]="filterUsers">
            <button (click)="clearSearch()">clear</button>
        </div>
        <div class="output-text">
            <p><span>searching for...</span>   {{ filterUsers }}</p>
        </div>
    </div>
    <div class="card-container">
        <div class="card" *ngFor='let user of filteredUsers'>
            <div class="avatar">
                <img 
                    [src]="user.avatar"
                    [style.width.px]=""
                    [style.width.px]="" 
                    (click)="toggleDetails(user.id)">
            </div>
            <!-- <div [ngClass]="toggleDetails(user.id)"> -->
            <div class="details">
                <p>Name: {{ user.userName }}</p>
                <p>Email: {{ user.email }}</p>
                <p>
                    <ng-container *ngIf="user.rating !== undefined">
                        <app-star [rating]="user.rating" (ratingClicked)="onRatingClick($event)"></app-star>
                    </ng-container>
                </p>
                <div class="actions">
                    <!-- <button mat-button color="warn"><mat-icon>delete</mat-icon></button> -->
                    <button mat-button color="warn" (click)="openPropmtDialog()"><mat-icon>delete</mat-icon></button>
                    <button mat-button color="primary"><mat-icon>edit</mat-icon></button>
                </div>
            </div>
        <!-- </div> -->
        </div>
    </div>
</div>