<!-- <div>
    <table>
      <thead>
        <tr>
          <th class="heading" colspan="11">{{vaccCard.heading}}</th>
        </tr>
        <tr>
          <th>enable</th>
          <th></th>
          <th>Vaccine Name</th>
          <th *ngFor="let month of vaccCard.dates">{{ month }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let vaccine of vaccCard.vaccines">
          <td><input class="ch-box" type="checkbox"></td>
          <th>{{ vaccine.name }}</th>
          <td *ngFor="let month of vaccCard.dates; let i = index;" (click)="cellClicked(vaccine, month)"
            [ngStyle]="{'background-color': getCellColor(vaccine, month)}">
            {{ getCellData(vaccine, month) }}
          </td>
        </tr>
      </tbody>
    </table>
  </div> -->