<div class="container">
    <div class="logo">
        <p routerLink="/home">Task Man💪</p>
    </div>
    <div class="utilities">
        <div class="add-task">
            <p routerLink="/tasks">Tasks</p>
        </div>
        <div class="add-task">
            <p routerLink="/new-task">New Task</p>
        </div>
        <div class="add-task">
            <p routerLink="/users">Users</p>
        </div>
    </div>
    <div class="auth">
        <div class="auth-btn">
            <button routerLink="/register">SignUp</button>
        </div>
        <div class="auth-btn">
            <button routerLink="/login">LogIn</button>
        </div>
    </div>
</div>
