<div class="container">
    <h1>Add task</h1>
    <mat-card class="task-card">
    <form>
        <mat-form-field appearance="outline">
            <mat-label>Tiltle</mat-label>
            <input matInput [formControl]="title" class="input-field">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Description</mat-label>
            <input matInput [formControl]="description" class="input-field">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Due before</mat-label>
            <input matInput [matDatepicker]="dueBefore" [formControl]="date" class="input-field">
            <mat-datepicker-toggle matIconSuffix [for]="dueBefore"></mat-datepicker-toggle>
            <mat-datepicker #dueBefore></mat-datepicker>
        </mat-form-field>
        <button mat-fab color="primary"(click)="logData($event)"><mat-icon>add</mat-icon></button>
    </form>
</mat-card>
</div>