<div *ngIf="vaccCard">
  <table>
    <thead>
      <tr>
        <th colspan="11" class="heading">{{vaccCard.heading}}</th>
      </tr>
      <tr>
        <td></td>
        <td>Vaccine Names</td>
        <td *ngFor="let month of vaccCard.dates">{{month}}</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let vaccine of vaccCard.vaccines">
        <td><input type="checkbox"></td>
        <th (click)="getMultiDose(vaccine)">{{vaccine.name}}</th>
        <td *ngFor="let month of vaccCard.dates" (click)="cellClicked(vaccine, month)"
        [ngStyle]="{'background-color': getCellColor(vaccine, month)}">{{getCellData(vaccine, month)}}</td>
      </tr>
    </tbody>
  </table>
  <div><button>Submit</button></div>
</div>